/* Structure */
.movie-container {
  position: relative;
  min-height: 200px;
}

.movie-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td:first-child {
  width: 70%;
  text-align: left;
}
td {
  width:15%;
}

.movie-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.filter-container {
  background: #837d7d;
}
